<div class="window flex">
    <div class="window-left">
        <!-- <div class="bg"></div> -->
    </div>
    <div class="window-right">
        <div class="close">
            <svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="31" cy="31" r="31" fill="#E0E0E0" />
                <path
                    d="M22.0284 42.5682L31.3352 33.2955L40.642 42.5682L42.6534 40.5398L33.3636 31.2841L42.6534 22.0114L40.608 20L31.3352 29.2557L22.0455 20L20 22.0114L29.3068 31.267L20 40.5398L22.0284 42.5682Z"
                    fill="black" />
            </svg>

        </div>
        <div class="modal">
            <form>
                <div class="modal__title">
                    We need your email, <br>
                    contacts, and motorcycle
                </div>
                <div class="modal__block flex">
                    <div class="modal__input">
                        <input class="input p name" type="text" placeholder="Your name">
                    </div>
                    <div class="modal__input">
                        <input class="input p company" type="text" placeholder="Your company's name">
                    </div>
                </div>
                <div class="modal__input" class="">
                    <input class="input p email" type="text" placeholder="Email or phone">
                </div>
                <div class="modal__input">
                    <textarea class="input p" type="text" placeholder="Tell us about the project, deadlines, and budget"></textarea>
                    <input class="input p story" type="text" placeholder="Tell us about the project, deadlines, and budget">
                </div>
                <div class="modal__btn">
                    <button type="button">Send a request&nbsp;<svg width="18" height="18" viewBox="0 0 18 18"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.94886 17.9545L17.5398 9.36364L8.94886 0.772727L6.97159 2.74148L12.1619 7.9233H0V10.804H12.1619L6.97159 15.9943L8.94886 17.9545Z"
                                fill="#2F80ED" />
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>