<div class="header">
      <!-- mob -->
      <div class="header__sub-menu">
        <a href="javascript:void(0)" class="item-block bem-active_item" data-tab="4">
            <img src="/img/logo.svg" alt="">
        </a>
    </div>
    <div class="header__main-menu">
        <div class="main-menu">
            <div class="main-menu__item item-block" data-tab="1">  Work
            </div>
            <div class="main-menu__item item-block" data-tab="2"> Contacts
            </div>
            <div class="main-menu__item item-block" data-tab="3"> About
            </div>
            <!-- <div class="main-menu__item " > store
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.95384 10.9766L8.40341 4.5206L8.39062 9.35938H10.4872V0.909091H2.04332L2.03054 2.9929H6.87571L0.426137 9.44886L1.95384 10.9766Z" fill="#FF6B00"/>
                </svg>                                              
            </div>  -->
            <div class="main-menu__item order" > order a design
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.95384 10.9766L8.40341 4.5206L8.39062 9.35938H10.4872V0.909091H2.04332L2.03054 2.9929H6.87571L0.426137 9.44886L1.95384 10.9766Z" fill="#2F80ED"/>
                </svg>                           
            </div>
           
        </div>
    </div>
    <!-- desktop -->
    <div class="header-wrap">    
        <div class="header__menu">
            <div class="header__menu-item item-block" data-tab="1">  Work
            </div>
            <div class="header__menu-item item-block" data-tab="2"> Contacts
            </div>
            <div class="header__menu-item item-block" data-tab="3"> About
            </div>
        </div>
        <div class="header__logo">
            <div class="logo item-block bem-active_item" data-tab="4">
                <img src="/img/logo.svg" alt="">
            </div>
        </div> 
        <div class="header__feature">
            <!-- <div class="header__feature-item bem-link">  
                store 
                    <svg  width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.54231 13.5454L10.8759 5.20893L10.8593 11.4572H13.5684V0.545441H2.65794L2.64142 3.23623H8.9019L0.568359 11.5727L2.54231 13.5454Z" fill="#FF6B00"/>
                    </svg>                           
            </div> -->
            <div class="header__feature-item bem-link order">  
                order a design
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.60529 13.9687L11.2047 5.36078L11.1877 11.8125H13.9831V0.545441H2.72461L2.70756 3.32385H9.16779L0.568359 11.9318L2.60529 13.9687Z" fill="#2F80ED"/>
                    </svg>
                </div>
        </div>
    </div>
  
</div>