<!DOCTYPE html>
<html lang="en">
{% include "templates/head.html" %}

<body>
    <div class="overlay">
        {% include "templates/form.html" %}
    </div>

    <div class="site-carcass">
        <div class="site-carcass__container">
            {% include "templates/header.html" %}
            <div class="main">
               
                    <div class="main-left">
                        <div class="page-block page-block_active" data-tab="4">
                            <div class="welcome">
                                <div class="welcome-block">
                                    <div class="welcome-block__title letter-effect">
                                        <!-- <span class="letter1">m</span><span class="letter2">a</span><span class="letter3">d</span><span class="letter4">e</span><span></span><span class="letter5">i</span><span class="letter6">n</span><span></span><span class="letter7">R</span><span class="letter8">u</span><span class="letter10">s</span><span class="letter11">s</span><span class="letter12">i</span><span class="letter13">a</span><span class="letter14">.</span><br><span class="letter15">w</span><span class="letter16">i</span><span class="letter17">t</span><span class="letter18">h</span><span></span><span class="letter19">l</span><span class="letter20">o</span><span class="letter21">v</span><span class="letter22">e</span><span class="letter23">.</span> -->
                                        made in Russia. <br>
                                        with love.
                                    </div>
                                    <div class="welcome-block__caption text-effect">
                                        <a class="bem-link order "> order a design
                                            <svg class="" width="14" height="14" viewBox="0 0 14 14" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M2.60529 13.9687L11.2047 5.36078L11.1877 11.8125H13.9831V0.545441H2.72461L2.70756 3.32385H9.16779L0.568359 11.9318L2.60529 13.9687Z"
                                                    fill="#2F80ED" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-block " data-tab="2">
                            <div class="contact" >
                                <div class="contact__info letter-effect">
                                    <!-- <span>C</span><span>o</span><span>n</span><span>t</span><span>a</span><span>c</span><span>t</span><span></span><span>I</span><span>n</span><span>f</span><span>o</span> -->
                                    Contacts
                                </div>
                                <div class="contact__data text-effect">
                                    Mail, but not in Russia: <br>
                                    <a href="mailto:mail@the10.ru"> mail@the10.ru</a>
                                </div>
                                <div class="contact__data text-effect">
                                    You can call: <br>
                                    <a href="tel:+7 934 312-34-34">+7 934 312-34-34 </a>
                                </div>
                                <div class="contact__footer text-effect">
                                    <div class="caption">working time</div>
                                    <div class="title">Monday - Friday</div>
                                    <div class="title">9:00 - 18:00</div>
                                </div>
                            </div>
                        </div>
                        <div class="page-block" data-tab="3">
                            <div class="description">
                                <div class="description-block">                                
                                    <div class="description-block__title letter-effect">
                                       <!-- <span class="grey"> <span class="letter">W</span><span class="letter">e</span><span class="letter"></span><span class="letter">a</span><span class="letter">r</span><span class="letter">e</span><span class="letter"></span><span class="letter">a</span></span><span class="letter"></span><span class="letter">c</span><span class="letter">r</span><span class="letter">e</span><span class="letter">a</span><span class="letter">t</span><span class="letter">i</span><span class="letter">v</span><span class="letter">e</span><br><span class="letter">c</span><span class="letter">o</span><span class="letter">m</span><span class="letter">m</span><span class="letter">u</span><span class="letter">n</span><span class="letter">i</span><span class="letter">t</span><span class="letter">y</span><span class="letter">.</span><span class="letter">.</span><span class="letter">.</span> -->
                                        <span class="grey">We are a</span> creative <br> community...
                                        <!-- <span class="letter"> We are </span> a creative <br>
                                        community... -->
                                    </div>
                                    <div class="description-block__caption text-effect">
                                        <span> We are a creative community</span> that wants to make this world a better
                                        place. Our main mission is to bring maximum benefit to our work. We love what we do.
                                        And we are not going to stop there
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="main-right">
                        <div class="picture-block picture-block_active" data-tab="4">
                            <div class="image-bg">
                                <div class="image-bg__caption">
                                    <p class="p">Black Square is an iconic paintingby Kazimir 
                                        Malevich. The first version was donein 1915.
                                         Malevich made four variants of which the 
                                         last is thought to have been painted during 
                                         the late 1920s or early 1930s.
                                    </p>
                                    <a href="#" class="link">More on Wikipedia 
                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.36705 10.9765L8.81663 4.52056L8.80384 9.35934H10.9004V0.909058H2.45654L2.44376 2.99286H7.28893L0.839355 9.44883L2.36705 10.9765Z" fill="#828282"/>
                                        </svg>
                                            
                                    </a>
                                </div>
                            </div>
                        </div> 
                        <div class="picture-block " data-tab="3">
                            <div class="image">
                                <div class="image__block">
                                    <img src="/img/yuri.jpg" alt="">
                                </div>
                                    <div class="image__citate">
                                        «In the future, <br>
                                    we will fly, fly a lot.»
                                    </div>
                                    <div class="image__caption">
                                        <div class="image__caption-name">
                                            Yuri  Gagarin 
                                        </div>
                                        <a href="#" class="link p">More on Wikipedia 
                                            <svg  width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.35778 10.9091L8.7682 4.49636L8.75549 9.30271H10.8394V0.909058H2.44672L2.43402 2.9789H7.24977L0.839355 9.3916L2.35778 10.9091Z" fill="#828282"/>
                                            </svg>                                                                                               
                                        </a>
                                    </div>

                            </div>
                        </div>
                        <div class="picture-block" data-tab="2">
                            <div class="geo">
                                <div class="geo__block">
                                    <div class="geo__name p">
                                        our address
                                    </div>
                                    <div class="geo__text  bem-large">
                                        42°58′49″N, <br>
                                        47°28′35″E
                                    </div>
                                    <div class="geo__caption ">
                                        <div class="geo__caption-name p">
                                            Our address
                                        </div>
                                        <a href="#" class="link "> view on map
                                            <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M2.35778 10.9091L8.7682 4.49636L8.75549 9.30271H10.8394V0.909058H2.44672L2.43402 2.9789H7.24977L0.839355 9.3916L2.35778 10.9091Z"
                                                    fill="#828282" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                
            </div>
            {% include "templates/footer.html" %}
        </div>
    </div>
    </div>

    {% include "templates/scripts.html" %}
</body>

</html>