<!DOCTYPE html>
<html lang="en">
    {% include "templates/head.html" %}   
<body>
   
    <div class="site-carcass">
      
        <div class="site-carcass__container">
            <div class="redesign">
                <div class="redesign-block">
                    
                    <div class="redesign__title">
                        <img src="/img/red.gif" alt="">
                    </div>
                    <div class="redesign__caption">
                        Извините за временные неудобства. <br>
                        У нас <span> редизайн</span>
                    </div>
                </div>
                <div class="redesign-footer">
                   <a href="mailto:mail@the10.ru">mail@the10.ru</a>
                </div>
            </div>

        </div> 
    </div>

 {% include "templates/scripts.html" %}
</body>
</html>  